body{
margin:0;
font-family:Arial;
background:#F4F6F8;
}

header{
background:#00A3E0;
color:white;
padding:15px;
text-align:center;
}

.filtros{
display:flex;
flex-wrap:wrap;
gap:10px;
padding:15px;
}

#map{
height:550px;
width:100%;
}
